<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_indicador.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_indicador_path(@tipo_indicador) %> |
<%= link_to 'Back', tipo_indicadors_path %>
