<div class="page-header">
  <%= link_to objetivo_semanals_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nuevo Objetivo Semanal</h4>
</div>

<%= render 'form', objetivo_semanal: @objetivo_semanal %>