<div class="container">
	<div class="row">
	  <div class="col-xs-12">
		  <div class="home-box">
		  	<h1 style="color:white">Ergos Automotive</h1>
		  	<h3 style="color:white">Aplicación para la Gestión de Actividades de Venta y Dashboard Ejecutivo</h3>
			</div>
		</div>
	</div>
</div>

  