<div class="page-header">
  <%= link_to carga_diaria_path(vendedor: @carga_diarium.vendedor.numero), class: 'btn btn-default' do %>
    <span class="fa fa-arrow-left"></span>
    Atras
  <% end %>
  <%= link_to @carga_diarium, class: 'btn btn-primary' do %>
    <span class="fa fa-info-sign"></span>
    Ver
  <% end %>
  <h4>Editar Carga Diaria</h4>
</div>

<%= render 'form', carga_diarium: @carga_diarium %>
