<div class="page-header">
  <%= link_to carga_diaria_path(vendedor: @carga_diarium.vendedor.numero) , class: 'btn btn-default' do %>
    <span class="fa fa-list-alt"></span>
    Volver
  <% end %>
  <h4>Nueva Carga Diaria</h4>
</div>

<%= render 'form', carga_diarium: @carga_diarium %>