<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_objetivo.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_objetivo_path(@tipo_objetivo) %> |
<%= link_to 'Back', tipo_objetivos_path %>
