<table color="#ffffff", class="table table-bordered" style="padding: 0px; margin: 0px;">
  <thead>
    <tr>
      <th colspan="2">Ficha de Reunión Mensual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sucursal</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Fecha</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Hora Inicio</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Hora Finalizacion</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Jefe de Ventas</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Participantes</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row" align="center" rowspan="7" colspan="1">Temas</th>
      <th Width=80%> 1) Resultados del mes anterior: indicadores claves del equipo (10')<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Cumplimiento de meta semanal<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Volumen de venta (#)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Facturación ($)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Ticket promedio ($#)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Descuento promedio (%)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Ratio de conversion (ventas/prospectos)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Créditos (#)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Solicitudes / Cotizaciones (%)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Seguros (#)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - CSI (%)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Cuántos EV cumplieron la meta de ventas? (%)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      - Aspectos positivos a mantener (acciones eficaces)<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      </th>
      <tr>
        <th> 2) Reconocimiento a EV destacados (5')<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        - Ranking de ventas<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        - Indicadores complementarios (Créditos, Descuentos, CSI)</th>
      </tr>
      <tr>
        <th> 3) Aspectos mejorables: obstáculos encontrados (5')</th>
      </tr>
      <tr>
        <th> 4) Metas del equipo para el próximo mes y apertura semanal (5')</th>
      </tr>
      <tr>
        <th> 5) Esttrategias puntuales a seguir (Venta, F&I, Seguros) (5')</th>
      </tr>
      <tr>
        <th> 6) Acciones de marketing planificadas (propias y compentencia)(5')</th>
      </tr>
      <tr>
        <th> 7) Proactividad: Acciones para compensar tráfico de piso insuficiente (5')
        <br>
        <table color="#ffffff", class="table" style="padding: 0px; margin: 0px;">
        <tr>
          <th Width=50%>Lealtad</th>
          <th>
            Ventas en servicio <br>
            Renovacion de crédito <br>
          </th>
        </tr>
        <tr>
          <th Width=50%>Conquista</th>
          <th>
            Ventas perdidas <br>
            Referidos <br>
            Eventos <br>
          </th>
        </tr>
        </table>
        </th>
      </tr>
      <tr>
        <th></th>
        <th> 8) Avisos especiales (horarios, guardias, inventarios, precios, incentivos) (5')</th>
      </tr>
    </tr>
  </tbody>
</table>

<br> <br><br> <br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="4">Plan de Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="4" >Plan de Acción</th>
    </tr>
    <tr >
      <th> Acción </th>
      <th> Fecha </th>
      <th> Responsable </th>
    </tr>
    <TR>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
    </TR>
    <TR>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
   </TR>
   <TR>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
   </TR>
     <tr>
      <th colspan="4">Asistentes</th>
    </tr>
     <tr>
      <th colspan="4" HEIGHT="100" ></th>
    </tr>
  </tbody>
</table>


<script type="text/javascript">

     $('#btn-filtrar1').on('click', function(){
       window.location.href = '/reunion/template_pdf.pdf';
      })
</script>