<table color="#ffffff", class="table table-bordered" style="padding: 0px; margin: 0px;">
  <thead>
    <tr>
      <th colspan="2">Ficha de Reunión Mensual</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sucursal</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Fecha</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Hora Inicio</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Hora Finalizacion</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Jefe de Ventas</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Participantes</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row" align="center" rowspan="7" colspan="1">Temas</th>
      <th Width=80%> 1) Resultado del mes anterior - Indicadores clave del equipo (10°) <br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Volumen de venta<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Facturación (#)
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Ticket promerdio ($#)
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Descuento promerdio (%)
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Ratio de conversión (ventas/prospectos)
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Créditos (#)
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Solicitudes / Cotizaciones (#)
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Seguros (#)
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Cuántos EV cumplieron la meta de ventas? (%)
       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Aspectos positivos a mantener (acciones eficaces)</th>
    </tr>
    </tr>

    <tr>
      <th Width=80%> 2) Reconocimiento a EV destacados (5')<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Ranking de ventas <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Indicadores complementarios (Creditos, Descuentos, CSI)</th>
    </tr>
    <tr>
      <th Width=80%> 3) Aspectos Mejorables: obstáculos encontrados(5')
   </th>
    </tr>
    <tr>
      <th Width=80%> 4) Metas del equipo para el proximo mes y apertura semanal (5')</th>
    </tr>
    <tr>
      <th Width=80%> 5) Estrategias puntuales a seguir (Venta, F%I, Seguros)(5')</th>
    </tr>
    <tr>
      <th Width=80%> 6) Acciones de Marketing planificadas (propias y complementarias)(5')</th>
    </tr>
      <tr>
      <th Width=80%> 7) Proactividad: Acciones para compensar tráfico de piso insuficiente (5')</th>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leantad </th> Ventas de servicio</th>
      <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conquita</th>
    </tr>
    <tr>
      <th Width=80%> 8) Avisos especiales (horarios, guardias, inventario, precios, incentivos)(5')</th>
    </tr>
  </tbody>
</table>

<br> <br><br> <br>
<br> <br><br> <br>
<br> <br><br> <br>
<br> <br><br> <br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="4">Plan de Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="4" >Plan de Acción</th>
    </tr>
    <tr >
      <th > Acción </th>
      <th> Fecha </th>
      <th> Responsable </th>
    </tr>
    <TR>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
    </TR>
    <TR>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
   </TR>
   <TR>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
   </TR>
     <tr>
      <th colspan="4">Asistentes</th>
    </tr>
     <tr>
      <th colspan="4" HEIGHT="100" ></th>
    </tr>
  </tbody>
</table>


<script type="text/javascript">

     $('#btn-filtrar2').on('click', function(){
       window.location.href = '/reunion/templateMensual_pdf.pdf';
      })
</script>