<div class="body body-pdf">
<br> <br>  
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Ficha de Reunión Semanal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sucursal</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Fecha</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Hora Inicio</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Hora Finalizacion</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Jefe de Ventas</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row">Participantes</th>
      <td Width=80%> </td>
    </tr>
    <tr>
      <th scope="row" align="center" rowspan="7" colspan="1">Temas</th>
      <th Width=80%> 1) Avance Meta vs avance Mes (2°) <br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Cumplimiento de meta semanal</th>
    </tr>
    <tr>
      <th Width=80%> 2) Resultados de venta de la semana vs compromisos (semana anterior)(5')<br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Reconocimientos</th>
    </tr>
    <tr>
      <th Width=80%> 3) Análisis de indicadores clave semana anterior (5')
      <br> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Tráfico de salón y/o prospectos (#)
      <br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Pruebas de manejo (#)
      <br> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Ventas (Reservas)
      <br> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Facturación (#)
      <br> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Créditos (#)
      <br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Solicitudes / Cotizaciones (%)
      <br> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Seguros (#)
      <br> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Ratio de conversión (ventas/cotizaciones)</th>
    </tr>
    <tr>
      <th Width=80%> 4) Ajuste de metas para semanas siguientes (si es necesario)(2')</th>
    </tr>
    <tr>
      <th Width=80%> 5) Estimaciones de cierre para semana actual (compromisos)(5')</th>
    </tr>
    <tr>
      <th Width=80%> 6) Avance de las listas de ataque y/o acciones proactivas (KPIs)(5')</th>
    </tr>
      <tr>
      <th Width=80%> 7) Avisos especiales (horarios, guardias, inventario, precios, etc)(5')</th>
    </tr>
  </tbody>
</table>


<br> <br><br> <br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="4">Plan de Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="4" >Plan de Acción</th>
    </tr>
    <tr >
      <th > Acción </th>
      <th> Fecha </th>
      <th> Responsable </th>
    </tr>
    <TR>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
    </TR>
    <TR>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
   </TR>
   <TR>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
        <TD HEIGHT="50"></TD>
   </TR>
     <tr>
      <th colspan="4">Asistentes</th>
    </tr>
     <tr>
      <th colspan="4" HEIGHT="100" ></th>
    </tr>
  </tbody>
</table>
</div>

<script type="text/javascript">

     $('#btn-filtrar1').on('click', function(){
       window.location.href = '/reunion/template_pdf.pdf';
      })
</script>