<div class="col-sm-12" style="margin-top: 15px;">
  <div class="content-box h-100">
		<div class="page-header">
			<h2 style="text-align: center;font-weight: 600;">Editar Concesionaria</h2>
		  <% if current_user.admin? %>
		     <%= link_to concesionaria_path, class: 'btn btn-default btn-header-page' do %>
		     <span class="fa fa-chevron-left"></span>
		     Volver
		     <% end %>
		  <% end %>
		  <%= link_to @concesionarium, class: 'btn btn-primary btn-header-page' do %>
		    <span class="fa fa-search"></span>
		    Ver
		  <% end %>
		  
		</div>

		<%= render 'form', concesionarium: @concesionarium %>
</div>