<div class="page-header">
  <%= link_to concesionaria_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Nueva Concesionaria</h4>
</div>

<%= render 'form', concesionarium: @concesionarium %>