/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 60px;
}


.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}

.tabla-reportes{
  width: 100%;
  border: solid 1px;
}

.tabla-reportes th, .tabla-reportes td {
    border: solid 1px;
    padding: 15px;
    text-align: left;
}


.tabla-reportes th {
    background-image: linear-gradient(to bottom, #194981 0%, #53a0e0 100%);
    color: white;
}

/* ------------------------Filtros-------------------------------- */
.tabla-filtros{
  width: 100%;  
}
.tabla-filtros td, .tabla-filtros th {
  padding: 5px;
  border: solid 1px;
  text-align: center;
}
.tabla-filtros tr {
  border: solid 1px; 
}
/* -------------------------------------------------------- */
.btn-filtro{
  width: 100%;
}

/*MODIFICA EL NAVBAR*/

.navbar-default {
  background-color: #19070B;
  border: none;
  /* border-color: #dfdfdf; */
}

.navbar-default .navbar-brand {
  color: #5355bf;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #38397f;
  background-color: #DFDFDF;
  /*
    aquí se modifica el hover del brand
  */
}

.navbar-default .navbar-text {
  color: #5355bf;
}

.navbar-default .navbar-nav>li>a {
  color: #5355bf;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #38397f;
  background-color: #DFDFDF;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
  background-color: #f4f4f4;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
  color: #5355bf;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
  color: #38397f;
  background-color: #dfdfdf;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li.divider {
  background-color: #dfdfdf;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #38397f;
  background-color: #dfdfdf;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #38397f;
  background-color: #dfdfdf;
}

.navbar-default .navbar-toggle {
  border-color: #dfdfdf;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dfdfdf;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #5355bf;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #5355bf;
}

.navbar-default .navbar-link {
  color: #5355bf;
}

.navbar-default .navbar-link:hover {
  color: #38397f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #5355bf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #38397f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #38397f;
    background-color: #dfdfdf;
  }
}


/*MODIFICA LOS BADGES*/

.badge {
  background-color: #5355bf;
}

/* Encuadrando imagen a 40px */
.navbar-brand{
  position: relative;
}
.navbar-brand img{
    position: absolute;
    top: 15px;
    left: 85px;
}