html {
  height: 100%;
}

body { 
  padding-top: 50px; 
  padding-bottom: 20px;
  height: 100%;
  background-color: #aeaeae;
}

.font-weight-bold {
  font-weight:600;
}

/* --------------------- NAVBAR ---------------------------- */

.navbar {
  border-radius: 0px;
  border: 0px solid transparent;
  margin-bottom: 0px;
}

.navbar .fa {
  font-size: 18px;
}


.navbar-default {
  background-color: $ergosgray;
  border-bottom: 1.5px solid white;
}


.navbar-default .navbar-brand {
  color: transparent;
}

.navbar-default .navbar-brand img {
  position: absolute;
  top: 15px;
  left: 15px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: transparent;
  background-color: transparent;

}

.navbar-default .navbar-text {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: white;
  background-color: $ergosblue;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
  background-color: #f4f4f4;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
  color: white;
  padding: 7px 20px;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
  color: $ergosgray;
  background-color: #999;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li.divider {
  background-color: #dfdfdf;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: white;
  background-color: $ergosblue;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: white;
  background-color: $ergosblue;
}

.navbar-default .navbar-toggle {
  border-color: #dfdfdf;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dfdfdf;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #5355bf;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #5355bf;
}

.navbar-default .navbar-link {
  color: #5355bf;
}

.navbar-default .navbar-link:hover {
  color: #38397f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #5355bf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #38397f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #38397f;
    background-color: #dfdfdf;
  }
}

.navbar-right {
  float: right !important;
  margin-right: 0px;
}

.navbar-logo img{
  padding: 12px 5px 0px 0px;
}




nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }


    nav.sidebar .navbar-nav > li > a:hover,
    nav.sidebar .navbar-nav > li > a:focus,
    {
      background-color: $ergosblue;
    }



    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 90%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  
  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }


.caret {
  margin-left: 4px;
}


.breadcrumb {
  border-radius: 0px;
}

.breadcrumb > li {
  margin-left: 5px;
}

/* --------------------------------------------------------- */
/* ---------------------- HOME ----------------------------- */

.home.index {
  background-image: url("ergos.png");
  min-width: 100%; 
  width: 100%; 
  min-height: 100%; 
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-box {
  position: fixed;
  bottom: 15%;
  left: 15%;
}

.home-box h1 {
  text-shadow: 0px 3px 3px black;
}

.home-box h3 {
  text-shadow: 0px 3px 3px black;
}

/* --------------------------------------------------------- */
/* ---------------------- ADMIN ---------------------------- */


.w-100{
  width: 100%;
}

.w-20{
  width: 20%;
}

.w-60{
  width: 60%;
}

.h-8{
  height: 8%;
}

.h-46{
  height: 46%;
}

.h-100{
  height: 100%;
}

.bg-gray{
  background-color: gray;
  color: white;
}

.bg-ergosgray{
  background-color: $ergosgray;
  color: white;
}

.admin-box {
  padding-bottom: 15px;  
}

.content-box {
  background-color: white;
  padding:15px;
  height: 100%;
  width: 100%;
}

.title-box {
  position: relative;
  float: left;
  font-weight: 700;
  height: 36px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-box a{
  color: white;
}

.image-box {

}

.image-box div{
  position: absolute;
  min-width: 125px;
  text-align: right;
}


.legend-1 {
  bottom: 110px;
  left: 60px;
}

.legend-2 {
  bottom: 62px;
  left: 60px;
}

.legend-3 {
  bottom: 8px;
  left: 60px;
}


@media (min-width: 765px) {

  .admin-container {
    padding: 0px 5px 0px 45px;
    height: 100%;
  }
}

@media (min-width: 1330px) {
  .admin-container {
    padding: 0px 5px 0px 205px;
  }

}


/* --------------------------------------------------------- */
/* ---------------------- LOGIN ---------------------------- */

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/*
 * Card component
 */
.card {
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: $turquoise;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: $turquoise;
}


/* --------------------------------------------------------- */
.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}

.tabla-reportes{
  width: 100%;
  border: solid 1px;
}

.tabla-reportes th, .tabla-reportes td {
    border: solid 1px;
    padding: 15px;
    text-align: left;
}


.tabla-reportes th {
    background-image: linear-gradient(to bottom, #194981 0%, #53a0e0 100%);
    color: white;
}

/* ------------------------Filtros-------------------------------- */
.tabla-filtros{
  width: 100%;  
}
.tabla-filtros td, .tabla-filtros th {
  padding: 5px;
  border: solid 1px;
  text-align: center;
}
.tabla-filtros tr {
  border: solid 1px; 
}
/* -------------------------------------------------------- */
.btn-filtro{
  width: 100%;
}

/*MODIFICA EL NAVBAR*/



/*MODIFICA LOS BADGES*/

.badge {
  background-color: #5355bf;
}

/* Encuadrando imagen a 40px */
.navbar-brand{
  position: relative;
}
.navbar-brand img{
    position: absolute;
    top: 15px;
    left: 85px;
}


/*********************/
/*Etiquetas ex Lupe.css*/
.label {
	font-size: 13px;
}

/*********************/
/*ALERTS DE BOOSTRAP*/
.alert-celeste {
  color: #70C0AA;
  background-color: #EEFBF7;
  border-color: #D3F2EA;
}

/*********************/
/*EX Applicattion.css*/

.logo {
  margin-top: 25px;
}
.title{
  margin-top: 140px;
}

.button-menu{
  min-height: 200px;
}

.margin-top{
  margin-top: 15px;
}

.form-snpe{
  margin-left: 15px;
}


.form-control
{

}

.form-apeynom{
  width: 300px;
  padding: 1px 2px !important;
  float:left;
  margin:2px 1px !important;
  text-align: center;
  font-size: 10px;

}

.form-alta{
  width: 137px;
  padding: 1px 2px !important;
  float:left;
  margin:2px 1px !important;
  text-align: center;
  font-size: 12px;
}

.form-alta-vendedor{
  padding: 1px 2px !important;
  float:left;
  margin:2px 1px !important;
  text-align: center;
  font-size: 12px;
}

.form-select{
  min-height: 34px !important;    
}

.form-fecha{
  max-width: 85px;

}

.form-fecha-nac{
  max-width: 150px;

}

#select_tipo_documento{
  max-width: 100px;
}

.select_foto{
  max-width: 250px;
}



#input_dni{
  max-width: 100px;
}


#input_cuil{
  max-width: 120px;
}


#input_apellidos{
  max-width: 250px;
}

#input_telefono{
  max-width: 250px;
}

#ciclo-carrera{
  max-width: 56px;
}

#secuencia, #division, #horas, #curso{
  max-width: 38px;
}

#sit-revista{
  max-width: 66px;
}

#movilidad{
  max-width: 80px;
}

#empresa{
  max-width: 78px;
}

#horas {
    
}

#ciclo-carrera {
       
}

#curso{
    max-width: 75px;
    width: 75px;
}

#turno{
    max-width: 65px;
}

#division{
    
}

#plan{
    max-width: 350px;
    width: 350px;
}

#materium{
    max-width: 350px;
    width: 350px;
}

#oblig{
    max-width: 38px;
}

#observaciones{
  max-width: 800px;
  min-width: 498px;
  float:left;
  padding: 1px 2px !important;
  margin:2px 1px !important;
  text-align: center;
  height: 43px;
}

#observaciones-edit{
  max-width: 745px;
  min-width: 745px;
  float:left;
  padding: 1px 2px !important;
  margin:2px 1px !important;
  text-align: center;
  height: 43px;
}

#observaciones-cargos{
  max-width: 632px;
  min-width: 232px;
  float:left;
  padding: 1px 2px !important;
  margin:2px 1px !important;
  text-align: center;
  height: 43px;
}


#btn-guardar{
  margin:2px 1px !important;
  height: 43px;
  float:left;
}

#btn-guardar-edit{
  margin:2px 1px !important;
  width:80px;
  height: 43px;
  float:left;
}

#btn-cancelar-edit{
  margin:2px 1px !important;
  width:80px;
  height: 43px;
  float:left;
  padding-top: 10px;
}

#cargo{
  width: 400px;
}


/*PERFIL CSS*/

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  max-width: 95px;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 10px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: capitalize;
  color: #19629F;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 10px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.footer{
    height: 51px;
    color: white;
}

.footer a{
    color:white;
}

.footer-text{
    margin-top: 15px;

}

.btn-acciones > .btn{
  margin: 0.5px;
}

@media(max-width:1366px){
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 2px;
    font-size: 12px;
    text-align: center;
  }
    
  .btn-acciones > .btn{
    width: 22px;
    height: 22px;
    padding: 2px 2px;
  }
}

@media(max-width:1000px){
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 1px;
    font-size: 11px;
    text-align: center;
  }
    
  .btn-acciones > .btn{
    width: 20px;
    height: 20px;
    padding: 1px 1px;
  }
}

@media(max-width:768px){
  .btn-acciones > .btn{
    width: 18px;
    height: 18px;
    padding: 1px 1px;
  }
}


.dropdown-menu{
 
}
.dropdown-submenu{
  position:relative;
}

.dropdown-submenu>.dropdown-menu{
  top:0;left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu{
  display:block;
}

.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.table > thead:first-child > tr:first-child > th {
  font-size: small;
  padding: 2px 4px;
}



/*LOGIN CSS*/

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden ;
  background-color:rgb(250,250,255);
  margin-left: -165px;
}
#login-dp .help-block{
  font-size:12px    
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-login{
  margin-bottom: 10px;
}


@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}

.account-wall
{
    margin: 20px 5px;
    padding: 25px 5px 5px 5px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
    margin:0px 0px 5px 0px;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{

    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.form-carga-efecto {
  border:1px solid #999;
  border-radius:8px;
  box-shadow:0 0 10px #999;
  padding: 10px;
}

.form-carga-efecto-alta {    
  max-width: 1120px;  
}

.form-carga-efecto-cargos {    
  max-width: 1050px;
}

.modal-header{
  text-align: center;
}

.centrar-todo { 
  text-align:center;
  vertical-align:middle;
}

.vcenter {
  display: flex;
  align-items: center;
}

.cargando {
  position: fixed;
  top: 50%;
  left: 50%;
}
