<div class="page-header">
  <%= link_to vendedors_path, class: 'btn btn-default' do %>
    <span class="fa fa-list-alt"></span>
    Volver
  <% end %>
  <%= link_to @vendedor, class: 'btn btn-primary' do %>
    <span class="fa fa-info-sign"></span>
    Ver
  <% end %>
  <h4>Editar vendedor</h4>
</div>

<%= render 'form', reunion: @vendedor %>