<div class="navbar navbar-title navbar-static-top">
  <div class="container">
    <div class="main-nav">
    	<div class="details">
    		<span>Juan Carlos Perez</span><br>
    		Vendedor
    	</div>
      <%=image_tag "medalla.png", :class=>"medal img-fluid", :style=>""%>
      <div class="medal-text">1</div> <!-- variable con la posición que tiene en la tabla -->
      <div class="buttons">
      	<a href="#"><span class="fa fa-plus-circle"></span></a>
      </div>
    </div>
    
  </div>
</div>
<div class="content">
	<h1>Avance</h1>
	<h1>Conversión</h1>
	<h1>Tablero de Control</h1>
</div>