<div class="col-sm-2" style="text-align: left;padding: 6px 0px; font-weight: bold;">
          <%carga_total_ob_mes_pm = CargaDiarium.carga_total_ob_mes_pm(Date.today.year, Date.today.month, @vendedor, 4)%>
          de <%=carga_total_ob_mes_pm%>
          </div>