<%= javascript_include_tag "persona" %>

<h1>New Persona Concesionarium</h1>

<%= render 'form', persona_concesionarium: @persona_concesionarium %>

<%= link_to 'Back', concesionaria_path(@persona_concesionarium.concesionaria) %>
