<%= javascript_include_tag "persona" %>

<h1>Crear usuario administrador</h1>

<%= render 'form', persona_concesionarium: @persona_concesionarium %>

<%= link_to 'Atras', concesionaria_path(@persona_concesionarium.concesionaria), class: "btn btn-default" %>
