<div class="row" style="background-color: white;border-radius: 15px;margin-top: 25px">
	
	<div class="col-sm-12" >
		<%=image_tag "escudo-generico.png", :class=>"dashboard-logo"%>
		<h1 class="text-center" style="margin: -25px 0 20px;">Martes 20 de Marzo de 2018</h1>
	</div>
	<div class="col-sm-12 col-md-6" style="">
		<table class="table table-bordered thead-dark table-condensed table-left">
		  <thead>
  			<tr>
  				<th rowspan="2">Posición</th>
		      <th rowspan="2">Fecha</th>
		      <th rowspan="2">Avance</th>
		      <th colspan="2" class="">Ventas</th>
		      <th colspan="2" class="">CSI</th>
		      
  			</tr>
	      <tr>
	        <th>Reservas</th>
		      <th>Meta</th>
		      <th>Real</th>
		      <th>Meta</th>
	      </tr>
  		</thead>
		  <tbody>
		    <tr>
		      <td>1º</td>
		      <td>EV1</td>
		      <td>30%</td>
		      <td>3</td>
		      <td>10</td>
		      <td>96%</td>
		      <td>85%</td>
		    </tr>
		    <tr>
		      <td class="bg-light-blue">4º</td>
		      <td class="bg-light-blue">EV4</td>
      		<td class="bg-light-blue">30%</td>
		  		<td class="bg-light-blue">3</td>
      		<td class="bg-light-blue">10</td>
      		<td class="bg-light-blue">96%</td>
      		<td class="bg-light-blue">85%</td>
		    </tr>
		    <tr>
		      <td>3º</td>
		      <td>EV3</td>
		      <td>30%</td>
		      <td>3</td>
		      <td>10</td>
		      <td>96%</td>
		      <td>85%</td>
		    </tr>
		    <tr>
		      <td class="bg-light-blue">4º</td>
		      <td class="bg-light-blue">EV4</td>
      		<td class="bg-light-blue">30%</td>
		  		<td class="bg-light-blue">3</td>
      		<td class="bg-light-blue">10</td>
      		<td class="bg-light-blue">96%</td>
      		<td class="bg-light-blue">85%</td>
		    </tr>
		    <tr>
		      <td>5º</td>
		      <td>EV5</td>
		      <td>30%</td>
		      <td>3</td>
		      <td>10</td>
		      <td>96%</td>
		      <td>85%</td>
		    </tr>
		  </tbody>
		   	<tfoot>
			    <tr>
			      <th colspan="2">Total</th>
			      <th>28%</th>
			      <th>14</th>
			      <th>35</th>
			      <th>82%</th>
			      <th>85%</th>
			    </tr>

			    <tr>
			      <th colspan="2" style="height: 31px;">Avance/Mensual</th>
			      <th style="height: 31px;">32%</th>
			    </tr>
			  </tfoot>
		</table>

	</div>
	<div class="col-sm-12 col-md-6" style="">
		<table class="table table-bordered thead-dark table-condensed">
		  <thead>
  			<tr>
  				<th colspan="5">Actividad Semanal</th>
		      <th colspan="7">Actividad Diaria</th>
		      <th rowspan="2" style="max-width: 100px;">Compromiso de Ventas</th>
  			</tr>
	      <tr>
	        <th>S1</th>
		      <th>S2</th>
		      <th>S3</th>
		      <th>S4</th>
		      <th>S5</th>
		      <th>L</th>
		      <th>M</th>
		      <th>M</th>
		      <th>J</th>
		      <th>V</th>
		      <th>S</th>
		      <th>D</th>
	      </tr>
  		</thead>
		  <tbody>
		    <tr>
		      <td>1</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>0</td>
		      <th rowspan="3" style="text-align: center;vertical-align: middle;">15</td>

		    </tr>
		    <tr>
		      <td>1</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>0</td>
		      
		    </tr>
		    <tr>
		      <td>1</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>0</td>
		      
		    </tr>
		    <tr>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">0</td>
		      <th rowspan="3" style="text-align: center;vertical-align: middle;" class="bg-light-blue">15</td>
		    </tr>
		    <tr>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">0</td>
		      
		    </tr>
		    <tr>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">0</td>
		      
		    </tr>
		    <tr>
		      <td>1</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>0</td>
		      <th rowspan="3" style="text-align: center;vertical-align: middle;">15</td>
		    </tr>
		    <tr>
		      <td>1</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>0</td>
		      
		    </tr>
		    <tr>
		      <td>1</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>0</td>
		      
		    </tr>
		    <tr>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">0</td>
		      <th rowspan="3" style="text-align: center;vertical-align: middle;" class="bg-light-blue">15</td>
		    </tr>
		    <tr>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">0</td>
		      
		    </tr>
		    <tr>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue"></td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">2</td>
		      <td class="bg-light-blue">3</td>
		      <td class="bg-light-blue">1</td>
		      <td class="bg-light-blue">0</td>
		      
		    </tr>
		    <tr>
		      <td>1</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>0</td>
		      <th rowspan="3" style="text-align: center;vertical-align: middle;">15</td>
		    </tr>
		    <tr>
		      <td>1</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>0</td>
		      
		    </tr>
		    <tr>
		      <td>1</td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td></td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>2</td>
		      <td>3</td>
		      <td>1</td>
		      <td>0</td>
		      
		    </tr>
		  </tbody>
		   	<tfoot>
			    <tr>
			      <th>48</th>
			      <th>0</th>
			      <th>0</th>
			      <th>0</th>
			      <th>0</th>
			      <th>10</th>
			      <th>11</th>
			      <th>12</th>
			      <th>13</th>
			      <th>14</th>
			      <th>15</th>
			      <th>16</th>
			      <th rowspan="3" style="text-align: center;vertical-align: middle;">17</td>
			    </tr>
			    <tr>
			      <th>48</th>
			      <th>0</th>
			      <th>0</th>
			      <th>0</th>
			      <th>0</th>
			      <th>10</th>
			      <th>11</th>
			      <th>12</th>
			      <th>13</th>
			      <th>14</th>
			      <th>15</th>
			      <th>16</th>
			      
			    </tr>
			    <tr>
			      <th>48</th>
			      <th>0</th>
			      <th>0</th>
			      <th>0</th>
			      <th>0</th>
			      <th>10</th>
			      <th>11</th>
			      <th>12</th>
			      <th>13</th>
			      <th>14</th>
			      <th>15</th>
			      <th>16</th>
			      
			    </tr>
			    <tr>
			      <th>8</th>
			      <th>11</th>
			      <th>11</th>
			      <th>10</th>
			      <th>10</th>
			    </tr>
			  </tfoot>
		</table>

	</div>
</div>	