<h1>Editar Persona Punto Ventum</h1>

<%= render 'form', persona_punto_ventum: @persona_punto_ventum %>

<%= link_to 'Show', @persona_punto_ventum %> |
<%= link_to 'Back', persona_punto_venta_path %>
